<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>  
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="script.js"></script>
    </head>
<body>
    <div id="root">
        <header>
            <div class="header">
                <h1 class="header_title">Интернет магазин</h1>
                <div class="search">
                    <search-component v-model="search"></search-component>
                    <custom-button v-on:click="filterItems">Искать</custom-button>
                </div>
                <div class="actions">
                    <custom-button v-on:click="setVisibleCard">Корзина</custom-button>
                </div>
        </header>
        <main>
            <div class="container">
                <div class="goods-list">
                    <div class="goods-item" v-for="item in filteredItems" :item="item">
                        <h3>{{ item.product_name }}</h3>
                        <p>{{ item.price }}</p>
                    </div>
                </div>
            </div>
            <div>{{calculatePrice}}</div>
            <div>{{search}}</div>
            <div class="info_wind" v-if="!filteredItems.length">нет данных</div>
        </main>
        <basket v-if="isVisibleCart" v-on:closeclick="setVisibleCard"></basket>
    </div>
    </body>
</html>